.shop-container {
  width: 100%;
  height: 150vh;
  min-height: 100%;
  background: #f7f7f7;
  /* padding-top: 5rem; */
}
.shop-wrapper {
  box-shadow: 0px 10px 10px 5px #e5e5e5;
  background: #f5f5f5;
  margin: auto;
  width: 98%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shop-flex {
  display: flex;
  flex-direction: column;
}
.shop-test {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.575);
}
.recommended-container {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}
.recommend-input {
  padding: 10px;
  width: 40%;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #e5e5e5;
}
.recommend-header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
.recommend-image {
  width: 50%;
  object-fit: cover;
}
.recommended-item {
  margin: 3px;
  position: relative;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  /* width: 35%; */
  width: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 10px 1px #e5e5e5;
  flex-grow: 1;

  align-items: center;
}
.love-icon {
  cursor: pointer;
  position: absolute;
  top: 4%;
  left: 82%;
}
.love-image {
  width: 100%;
}
.paragraph {
  color: #27214d;
  padding: 10px;
  /* line-height: 3rem; */
  width: auto;
}
.recommend-paragraph {
  /* color: #27214d; */
  color: #0e0e0e;
}
.recommend-header {
  font-size: 24px;
  margin-bottom: 0.5rem;
  color: #191822;
  text-align: center;
  /* line-height: 5rem; */
}
.price-container {
  color: #ffa047;
  padding: 4px;
  width: 40%;
  display: flex;
  justify-content: center;
}

.feature-container {
  margin-top: 3rem;
  background-color: #fff;
}
.feature-item-container {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}
.feature-wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* width: 100%; */
}

.feature-item-container .feature-item {
  color: #27214d;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: inline-block;
  font-weight: 600;
  padding-left: 1rem;
  /* width: 300px;
  flex-grow: 1; */
}
.feature-item-btn {
  background: transparent;
  /* margin-left: 1rem; */
  outline: none;
  border: none;
  color: #27214d;
  font-size: 35px;
  font-weight: 600;
}
.feature-item-btn:focus {
  border-bottom: 1px solid #ffa047;
}
@media (max-width: 768px) {
  .feature-item-container .feature-item {
    padding-left: 10px;
    font-size: 16px;
  }
  .shop-container {
    display: flex;
    height: 100vh;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .shop-container {
    display: flex;
    height: 100vh;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .feature-item-container .feature-item {
    padding-left: 10px;
  
  }
  .feature-item-container{
    margin: 1rem;
  }
  .feature-item-btn{
    font-size: 18px;
  }
  .feature-wrapper{
    flex-wrap: wrap;
  }
  .shop-container {
    height: 100vh;
  }
  .shop-wrapper {
    /* height: 50%; */
    width: 100%;
  }
  .recommend-header {
    font-size: 14px;
  }
}

.feature-item:nth-child(1) {
  position: relative;
}
.feature-item:nth-child(1)::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: #ffa047;
  width: 40px;
  height: 4px;
}
/* .feature-item-container .feature-item:focus{
  border-bottom: 1px solid black;
  color: red;
  background: red;
  cursor: pointer;
} */
.feature-items {
  margin: 10px;
  position: relative;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 10px 1px #e5e5e5;
  align-items: center;
}
.feature-items:nth-child(1) {
  background: #fffaeb;
}
.feature-items:nth-child(2) {
  background: #fef0f0;
}
.feature-items:nth-child(3) {
  background: #f1eff6;
}
@media (max-width: 600px) {
  .recommended-container {
    flex-wrap: wrap;
  }
}

.fa-heart {
  color: #ffa047;
  box-shadow: 2px 2px 4px #fff;
}
