.admin-container {
  margin-top: 10rem;
  height: 100vh;
  width: 100%;
}
.table-container{
    display: flex;
    height:40vh;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr{
      cursor: pointer;
  }