.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background: #ffa451; */
  background: #e28c3b;
  border-bottom: 1px solid #ff3a3021;
  box-shadow: 1px 1px 20px 0px #2917065b;
  padding: 3px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.fa-shopping-cart,
.fa-bars {
  color: #101010;
}
.auth-banner {
  position: relative;
  cursor: pointer;
  font-size: 13px;
}
.arr-down {
  position: absolute;
}
.nav-form {
  width: 40vw;
  display: flex;
}
.nav-form-input {
  width: 100%;
  margin-right: 0.5rem;
  padding: 5px;
  border-radius: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  outline: none;
  border: none;
}
.nav-form-btn {
  padding: 0 15px 0px 15px;
  box-shadow: 0px 0px 3px 2px #e5e5e5;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 5px;
  color: #27214d;
  outline: none;
  font-size: 12px;
  border: none;
}
.nav-cart {
  background: transparent;
  border: none;
  outline: white;
  cursor: pointer;
  border-radius: 5px;
}
.cart-nav-img {
  width: 25%;
}

.nav-auth-tooltip-container {
  position: fixed;
  right: 17%;
  top: 50px;
  width: 20%;
  height: 180px;
  background-color: #fff;
  box-shadow: 0px 0px 3px 2px #e5e5e5;
  border-radius: 10px;
}
.nav-auth-tooltip-container::after {
  content: " ";
  position: absolute;
  margin-left: -10px;
  border-width: 17px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  bottom: 100%;
  left: 70%;
}
.tooltip-list {
  padding: 15px;
  list-style: none;
  cursor: pointer;
}
.tooltip-list:nth-child(1) {
  border-bottom: 1px solid #00000031;
}
.tooltip-list:nth-child(2) {
  border-bottom: 0.5px solid #00000031;
}
.logo-fruithub {
  width: 60%;
  cursor: pointer;
  padding-top: 5px;
}
.logo-text {
  color: #27214d;
  font-size: 24px;
}
.link-container .link-item {
  display: inline-block;
  padding: 1rem;
  color: #27214d;
  cursor: pointer;

  /* display: none; */
}
.link {
  text-decoration: none;
  list-style: none;
  color: #27214d;
}
/* .link:focus{
  border-bottom: 1px solid #27214d;
  transition: all 1s ease-in;
} */

.auth-name-container {
  background-color: red;
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
}

.basket {
  cursor: pointer;
  background: white;
}
@media (max-width: 600px) {
  .nav-cart {
    width: 80%;
  }
  .link-container {
    display: none;
  }
  .navbar-container {
    justify-content: space-between;
  }
  .fa-bars {
    /* flex: 0.5; */
    cursor: pointer;
  }

  .auth-banner {
    display: none;
  }
  .nav-form {
    display: none;
  }
  .logo-text {
    font-size: 18px;
  }
  .nav-auth-container {
    display: flex;
    width: 30%;
    justify-content: space-around;
    object-fit: cover;
    position: relative;
  }
}
.search, .saved, .cart-x,.user{
  color:#282828;
}
